In [2]:
import pandas as pd

In [3]:
data1 = pd.read_csv("JC-201907-citibike-tripdata.csv") 
data2 = pd.read_csv("JC-201908-citibike-tripdata.csv") 
data3 = pd.read_csv("JC-201909-citibike-tripdata.csv")

In [4]:
data1.head()
#data1.info()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [5]:
data2.head()
#data2.info()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,2019-08-01 00:23:06.9910,2019-08-01 00:25:59.1480,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,2019-08-01 00:23:28.6170,2019-08-01 00:32:13.7000,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,2019-08-01 00:32:36.1410,2019-08-01 00:36:15.2730,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717733,-74.043845,29598,Subscriber,1988,1
4,262,2019-08-01 00:41:26.6700,2019-08-01 00:45:49.3530,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1

In [6]:
data3.head()
#data3.info()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,145,2019-09-01 00:00:37.6920,2019-09-01 00:03:03.0100,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1
1,212,2019-09-01 00:03:00.6000,2019-09-01 00:06:33.3420,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,Subscriber,1993,2
2,569,2019-09-01 00:07:13.0020,2019-09-01 00:16:42.8610,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,Customer,1977,1
3,1380,2019-09-01 00:07:25.3350,2019-09-01 00:30:26.1640,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,Subscriber,1965,1
4,1346,2019-09-01 00:07:56.4670,2019-09-01 00:30:22.5440,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,Subscriber,1968,2

In [16]:
dfs =[data1,data2,data3]

In [17]:
data_df = pd.concat(dfs)

In [10]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141168 entries, 0 to 48710
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             141168 non-null  int64
 1   starttime                141168 non-null  object
 2   stoptime                 141168 non-null  object
 3   start station id         141168 non-null  int64
 4   start station name       141168 non-null  object
 5   start station latitude   141168 non-null  float64
 6   start station longitude  141168 non-null  float64
 7   end station id           141168 non-null  int64
 8   end station name         141168 non-null  object
 9   end station latitude     141168 non-null  float64
 10  end station longitude    141168 non-null  float64
 11  bikeid                   141168 non-null  int64
 12  usertype                 141168 non-null  object
 13  birth year               141168 non-null  int64
 14  gender                   141168 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 17.2+ MB

In [18]:
data_df.to_csv('bike_data.csv')

In [3]:
data = pd.read_csv("bike_data.csv")

In [5]:
data.head(-100)
#data.info()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141596,49139,107,2019-09-30 20:20:06.3400,2019-09-30 20:21:54.2180,3211,Newark Ave,40.721525,-74.046305,3279,Dixon Mills,40.721630,-74.049968,29518,Subscriber,1970,1
141597,49140,396,2019-09-30 20:21:38.4240,2019-09-30 20:28:15.2760,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26294,Subscriber,1982,2
141598,49141,765,2019-09-30 20:23:26.2080,2019-09-30 20:36:12.1070,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3277,Communipaw & Berry Lane,40.714358,-74.066611,26189,Subscriber,1984,1
141599,49142,258,2019-09-30 20:24:02.5780,2019-09-30 20:28:21.2200,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,26204,Subscriber,1970,1
141600,49143,314,2019-09-30 20:28:18.7830,2019-09-30 20:33:33.7600,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3276,Marin Light Rail,40.714584,-74.042817,26212,Subscriber,1969,0

In [12]:
data['start station id'].value_counts()

3186    15579
3203     8768
3639     6653
3202     6159
3195     5884
3792     5472
3276     5344
3199     4324
3638     3882
3211     3880
3187     3755
3267     3660
3185     3422
3269     3185
3184     3183
3192     3157
3272     3046
3275     3042
3270     3041
3213     2966
3209     2746
3278     2726
3205     2576
3194     2517
3273     2476
3214     2270
3640     2240
3681     2194
3279     2154
3207     1485
3210     1435
3483     1415
3225     1343
3193     1213
3268     1192
3481     1187
3678     1159
3280     1105
3198     1034
3679      995
3220      928
3206      919
3791      871
3277      815
3677      788
3196      784
3281      740
3212      715
3201      455
3191      428
3694      386
3426        8
Name: start station id, dtype: int64

In [14]:
data['end station id'].value_counts()

3186    19498
3203     7875
3639     6749
3202     6545
3792     6469
        ...
484         1
285         1
3674        1
303         1
464         1
Name: end station id, Length: 83, dtype: int64